.app {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, rgba(77, 86, 214, 0.5),rgba(77, 86, 214, 0.25));
}
.container{
  height: 40%;
  padding: 1rem 3rem;
  /* From https://css.glass */
background: rgba(71, 54, 169, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10.8px);
-webkit-backdrop-filter: blur(10.8px);
border: 1px solid rgba(71, 54, 169, 0.22);
  font-size: 3rem;
}
button{
  font-size: 1.33rem;
  font-weight: 800;
  padding: 5px 10px;
  margin: 0.5rem ;
  background-color: rgba(77, 86, 214, 0.25);
  color: white;
  border: none;
  border-radius: 11px;
}
.main{
  margin: 2rem 0 1rem 0;
  font-size: 3rem;
  padding: 9px 18px;

}
.btn-container button:hover{
  background-color: rgba(238, 238, 241, 0.959);
  font-size: 1.342rem;
  color: rgba(77, 86, 214, 0.5);
}

